Assignment #3: Supervised Machine Learning

First we import required modules and load the data from the .json file to a Pandas DataFrame. We inspect the DataFrame object to determine its properties.

In [2]:
import pandas as pd
from datetime import datetime
data = pd.read_json("Assignment_03/reviews.json") # Data import 
data['date'] = data['date'].apply(lambda x: datetime.fromordinal(x)) # Date conversion
data.head(4)

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>author</th>
      <th>body</th>
      <th>date</th>
      <th>helpful</th>
      <th>stars</th>
      <th>style</th>
      <th>title</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>Gene H.</td>
      <td>We were looking for a decent flashlight for ou...</td>
      <td>2018-04-11</td>
      <td>0</td>
      <td>5</td>
      <td>LED Flashlight 2P</td>
      <td>Great range for a small package</td>
    </tr>
    <tr>
      <th>1</th>
      <td>Cwazy Wabbit</td>
      <td>Very nice, works great</td>
      <td>2018-04-11</td>
      <td>0</td>
      <td>5</td>
      <td>LED Flashlight 2P</td>
      <td>Five Stars</td>
    </tr>
    <tr>
      <th>10</th>
      <td>David C. Bradford</td>
      <td>Sturdy little lights that work every time as a...</td>
      <td>2018-04-10</td>
      <td>0</td>
      <td>5</td>
      <td>LED Flashlight 2P</td>
      <td>Sturdy little lights that work every time as</td>
    </tr>
    <tr>
      <th>100</th>
      <td>MDD</td>
      <td>I bought 2 and they worked great for 2-3 weeks...</td>
      <td>2018-03-09</td>
      <td>0</td>
      <td>1</td>
      <td>LED Flashlight 2P</td>
      <td>I bought 2 and they worked great for 2-3 weeks...</td>
    </tr>
  </tbody>
</table>
</div>

The dataframe is of the shape `(833, 7)` and its axes are: `['author', 'body', 'date', 'helpful', 'stars', 'style', 'title']`

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>author</th>
      <th>body</th>
      <th>date</th>
      <th>helpful</th>
      <th>stars</th>
      <th>style</th>
      <th>title</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>Gene H.</td>
      <td>We were looking for a decent flashlight for ou...</td>
      <td>736795</td>
      <td>0</td>
      <td>5</td>
      <td>LED Flashlight 2P</td>
      <td>Great range for a small package</td>
    </tr>
    <tr>
      <th>1</th>
      <td>Cwazy Wabbit</td>
      <td>Very nice, works great</td>
      <td>736795</td>
      <td>0</td>
      <td>5</td>
      <td>LED Flashlight 2P</td>
      <td>Five Stars</td>
    </tr>
    <tr>
      <th>10</th>
      <td>David C. Bradford</td>
      <td>Sturdy little lights that work every time as a...</td>
      <td>736794</td>
      <td>0</td>
      <td>5</td>
      <td>LED Flashlight 2P</td>
      <td>Sturdy little lights that work every time as</td>
    </tr>
    <tr>
      <th>100</th>
      <td>MDD</td>
      <td>I bought 2 and they worked great for 2-3 weeks...</td>
      <td>736762</td>
      <td>0</td>
      <td>1</td>
      <td>LED Flashlight 2P</td>
      <td>I bought 2 and they worked great for 2-3 weeks...</td>
    </tr>
    <tr>
      <th>101</th>
      <td>Eric</td>
      <td>Very bright flashlight. Used at the beach walk...</td>
      <td>736757</td>
      <td>0</td>
      <td>5</td>
      <td>LED Flashlight 2P</td>
      <td>Good flashlights for the price</td>
    </tr>
  </tbody>
</table>
</div>

The dataframe is of the shape `(833, 7)` and its axes are: `['author', 'body', 'date', 'helpful', 'stars', 'style', 'title']`